#body{
    display: flex;
    margin: 0;
    flex-wrap: wrap;
     border-collapse:collapse;
     box-sizing: border-box;
}
.square{
    width: 25%;
    height:25vh;
 background-color: pink;
    
}

.hover{
    background-color: red;
}