html{
    background-color: lightgreen;
}
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

#bodyGrid {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    border-collapse: collapse;
    box-sizing: border-box;
    height: 80vh;
   aspect-ratio: 1;
       border: 2px solid red;
   
}
#bodyGrid > div{
      aspect-ratio: 1;
      transition: background-color 0.2s;
}


.hover {
    /* filter: invert(1) !important; too GPU INTENSIVE */ 
    background-color: black !important;
}

h1{
    margin: 0;
}
#selectGrid {
    text-align: center;
    margin: 0 auto;
      padding: 15px 20px;
    border: solid 2px red;
    color: white;
    background-color: red;
    border-radius: 15px;
    font-size: 16px;
}